.mainBody{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ccc;
    padding: 25px;
    font-family: "Roboto";
}

.submitButton{
    display: block;
    margin: 0 auto;
}